<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        id          = "https://mobile.twitter.com/"
        version     = "url"
        height      = "700"
        width       = "500">
 
  <name short="Twitter">
    Twitter
  </name>

  <description>
  </description>

  <author href="https://mobile.twitter.com/">Twitter</author>

  <icon src="/usr/share/icons/Komodo/apps/scalable/twitter.svg"/>
  <content src="index.html"/>

  <license>
    (c) 2014, Instagram
  </license>
</widget>
